<%= form_with(model: home_page, local: true) do |form| %>
  <% if home_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(home_page.errors.count, "error") %> prohibited this home_page from being saved:</h2>

      <ul>
        <% home_page.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <%= form.select :genre, ['Action', 'Comedy', 'History', 'Classic', 'Crime', 'Drama', 'Fantasy', 'Horror', 'Mystery', 'Poetry','Science Fiction'] %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :"published Date" %>
    <%= form.date_select :publishedDate, :start_year => 1800 %>
  </div>

  <div class="actions">
    <%= form.submit  "Confirm" %>
  </div>
<% end %>
