<div style="text-align: center">
<p id="notice"><%= notice %></p>

<h1>Table of Books</h1>

<table style="border: 1px solid black; border-collapse: collapse; width: 100%">
  <thead style="padding: 5px; text-align: center;">
    <tr>
      <th style="border: 1px solid black;">Title</th>
      <th style="border: 1px solid black;">Author</th>
      <th style="border: 1px solid black;">Genre</th>
      <th style="border: 1px solid black;">Price</th>
      <th style="border: 1px solid black;">Published Date</th>
      <th colspan="3" style="border-bottom: 1px solid black;">Actions</th>
    </tr>
  </thead>

  <tbody style="padding: 5px; text-align: center;">
    <% @home_pages.each do |home_page| %>
      <tr>
        <td style="border: 1px solid black;"><%= home_page.title %></td>
        <td style="border: 1px solid black;"><%= home_page.author %></td>
        <td style="border: 1px solid black;"><%= home_page.genre %></td>
        <td style="border: 1px solid black;"><%= home_page.price %></td>
        <td style="border: 1px solid black;"><%= home_page.publishedDate %></td>
        <td style="border-bottom: 1px solid black;"><button type="button"><%= link_to 'Show Info', home_page %></button></td>
        <td style="border-bottom: 1px solid black;"><button type="button"><%= link_to 'Edit Details', edit_home_page_path(home_page) %></button></td>
        <td style="border-bottom: 1px solid black;"><button type="button"><%= link_to 'Delete from Library', home_page, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button"><%= link_to 'Add New Book', new_home_page_path %></button>
</div>